RUN case "${ARCH}" in \
{{- range .Platforms}}
        {{.Arch}}) CHECKSUM={{printf "%q" .Checksum}} ;; \
{{- end}}
        *) echo "Unsupported: ${ARCH}"; exit 1 ;; \
    esac && \
    export TMP_DIR=$(mktemp -d) && \
    export TMP_FILE="${TMP_DIR}/{{.Name}}{{.ArchiveExt}}" && \
    case "${ARCH}" in \
{{- range .Platforms}}
        {{.Arch}}) DOWNLOAD_URL={{printf "%q" .DownloadURL}}; EXTRACT={{printf "%q" .Extract}} ;; \
{{- end}}
    esac && \
    curl -fsSL --retry 3 --retry-delay 5 --retry-all-errors "${DOWNLOAD_URL}" > "${TMP_FILE}" && \
    printf "%s  %s\n" "${CHECKSUM}" "${TMP_FILE}" > "${TMP_DIR}/checksum.sha256" && \
    sha256sum -c "${TMP_DIR}/checksum.sha256" && \
    {{extractCmd .ArchiveExt}} && \
    install "${TMP_DIR}/${EXTRACT}" "/usr/local/bin/{{.Name}}" && \
    rm -rf "${TMP_DIR}"